.list {
    @extend %margin-sub-section;
    @extend %writing-basic;
    @include flex(nowrap, center, flex-start);
    ul,
    ol {
        @extend %margin-sub-section;
    }
    li {
        &::marker {
            color: $key-color;
        }
    }
    &[data-layout*='parallel'] {
        ul,
        ol {
            @include flex;
            flex-wrap: wrap;
            padding: 0;
        }
        li {
            list-style-position: inside;
            margin: 0 1em 0 0;
        }
    }
}
