-
    let profile = {
        data: {
            name: 'Your Name',
            kana: 'Your Name Kana',
            birthDay: '1900-01-01',
            phone: '000-123-4567',
            mail: 'mail@example.com',
            address: '〒000-0000 Address Strings will apply here.',
            dependent: 0,
            partner: true,
        },
        resume: {
            uri: 'https://www.example.com/resume/',
            id: 'Login ID',
            password: 'Login password'
        },
        photo: {
            x1: './assets/images/common/photo.jpg',
            x2: './assets/images/common/photo@2x.jpg',
        },
        objective: [
            utility.lorem.publish(),
        ],
        specialty: [
            utility.lorem.publish(),
        ],
        experience: [
            {
                '1900': 'Event Detail',
            },
            {
                '1901': 'Event Detail',
            },
            {
                '1901': 'Event Detail',
            },
            {
                '1901': 'Event Detail',
            },
            {
                '1901': 'Event Detail',
            },
        ],
        education: [
            {
                '1900': 'Event Detail',
            },
            {
                '1900': 'Event Detail',
            },
        ],
        skill: {
            description: [
                utility.lorem.publish(30, 'ja'),
                utility.lorem.publish(30, 'ja'),
                utility.lorem.publish(30, 'ja'),
            ],
            set: {
                skill_name1: 100, // Years (numeric required)
                skill_name2: 200,
                skill_name3: 300,
            },
        },
        project: [
            {
                name: 'Project name',
                period: '1900-01-01',
                uri: 'https://www.example.com',
                role: [
                    utility.lorem.publish(30),
                    utility.lorem.publish(30),
                    utility.lorem.publish(30),
                ],
            },
        ],
    };
if is_production
    //- import true profile, when production
    include /src/.data/_data
    -
        profile = privateProfile;
-
    profile.data.birth = new Date(profile.data.birthDay);