style.
    :root {
        /* color */
        --base-color: #e0e0e0;
        --key-color: #C7DC68;
        --sub-color: #88993D;
        --text-color: #000;
        --effective-color: #4062FF;
        --sub-effective-color: #1466CC;
        /* font family */
        --basic-family: 'Avenir Next', 'Hiragino Sans', sans-serif;
    }