-
    const optimize_boolean = function(val) {
        const bool = val.toLowerCase();
        switch(bool) {
            case 'true':
                return true;
                break;
            case 'false':
                return false;
                break;
            default:
                return false;
        }
    };