#global-header {
    @extend %content-container;
    padding: $space-article 0;
    text-align: center;
    section {
        @include flex(nowrap, center, center);
    }
    picture {
        flex: 0 1 20%;
    }
    .difinitions {
        flex: 0 1 75%;
        margin: 0 0 0 5%;
        dl {
            margin: 0.5em;
        }
    }
}
