#global-header {
    @extend %content-container;
    padding: $space-article 0 0;
    .content-container {
        @include flex(nowrap, center, center);
        flex-direction: column;
        height: 100%;
    }
    section {
        @include flex(nowrap, center, center);
        @media (max-width: 750px) {
            flex-direction: column;
        }
    }
    picture {
        flex: 0 1 20%;
        @media (max-width: 750px) {
            max-width: 150px;
        }
    }
    .difinitions {
        flex: 0 1 75%;
        margin: 0 0 0 5%;
        dl {
            margin: 0.5em;
        }
        @media (max-width: 750px) {
            margin: $space-sub-section 0 0;
            justify-content: center;
        }
    }
}
