main {
    @extend %margin-page;
    padding-bottom: $space-page;
    article {
        @extend %content-container;
        @extend %margin-page;
        &::before {
            display: block;
            width: 1rem;
            height: 1rem;
            margin: 0 auto;
            background: $sub-color;
            border-radius: 50%;
            box-shadow: 13px 0 0 $key-color;
            transform: translate(-50%, -6.5rem);
            content: '';
        }
    }
}
