// font variables
// family
$family-basic: var(--basic-family);
// weight
$weight-normal: 300;
$weight-demi: 400;
$weight-bold: 600;
$weight-super: 800;
// line height
$line-height-writing: 1.8;
$line-height-heading: 1.4;
// extends
// level
%heading-high {
    line-height: $line-height-heading;
    font-weight: $weight-demi;
}
%heading-low {
    line-height: $line-height-heading;
    font-weight: $weight-demi;
}
%writing-basic {
    line-height: $line-height-writing;
    letter-spacing: 0.025em;
    font-size: 16px;
}
body {
    color: $text-color;
    font-family: $family-basic;
    font-weight: $weight-normal;
    font-variant: proportional-nums proportional-width;
}

h1 {
    @extend %heading-high;
    font-size: 48px;
}
h2 {
    @extend %heading-high;
    font-size: 36px;
}
h3 {
    @extend %heading-high;
    font-size: 28px;
}
h4 {
    @extend %heading-low;
    font-size: 24px;
}
h5 {
    @extend %heading-low;
    font-size: 21px;
}
h6 {
    @extend %heading-low;
    font-size: 21px;
    font-weight: 300;
}
p {
    @extend %writing-basic;
}
