extends /src/assets/nodes/templates/_basic
block settings
    -
        const settings = {
            title: 'Font Stylings',
            description: '',
            keywords: '',
            url: '',
            site_name: 'Portfolio'
        };
block head
block body
    main
        -
            const lorem = utility.lorem.publish(65, 'ja');
            const headings = new Array();
            headings.length = 6;
        each heading, index in headings
            -
                const level = index + 1;
            #{'h' + level} #{'見出しレベル' + level + ': ' + lorem}
        p #{lorem}
